@using Archieves.Persistence.Concretes;
@model IEnumerable<Archieves.Domain.Entities.Comment>
<div class="comment-top">
    <h4>Yorumlar</h4>
    @if (Model.Count() == 0)
    {
        <p style="text-align:justify;">Henüz yorum yapılmamış. İlk yorumu yapan sen olmak istemez misin?</p>
    }
    else
    {
        @foreach (var item in Model)
        {
            int solidCounter = 0, regularCounter = 0;
            for (int i = 0; i <= 10; i++)
            {
                if (item.Rate == null)
                    regularCounter++;
                else if (item.Rate >= i)
                    solidCounter++;
                else
                    regularCounter++;
            }
            for (int i = 0; i <= 10; i++)
            {
                if (solidCounter > 0)
                {
                    <img src="~/images/star-solid.svg" height="15px" style="margin-bottom:5px;" />
                    solidCounter--;
                }
                else if (regularCounter > 0)
                {
                    <img src="~/images/star-regular.svg" height="15px" style="margin-bottom:5px;" />
                    regularCounter--;
                }
            }
            <p class="font-weight-bold" style="display:inline-block;">@item.Rate Yıldız!</p>
            <div class="media">
                <img src="~/images/circleUser.svg" height="50px" />
                <div class="media-body">
                    <h5 class="mt-0">@item.Name @item.Surname</h5>
                    <p style="text-align:justify;">@item.Content</p>
                </div>
            </div>
        }
    }
</div>