<div class="col-md-4 top-forms text-center mt-lg-3 mt-md-1 mt-0">
    <span class="mx-lg-4 mx-md-2  mx-1">
        <img src="~/images/unlock.svg" height="15px" />
        <a asp-controller="LogIn" asp-action="LogOut">Çıkış Yap</a>
    </span>
    <span class="mx-lg-4 mx-md-2  mx-1">
        <img src="~/images/server.svg" height="15px" />
        <a asp-controller="User" asp-action="Index">Kullanıcı Paneli</a>
    </span>
</div>