@using Archieves.Persistence.Concretes;
@model Archieves.Domain.Entities.Comment
@{
    ViewData["Title"] = "AddComment";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container text-center">
    <h1 class="title">YORUM EKLEME PANELİ</h1>
    <div class="inner-sec">
        <div class="login p-5 bg-light mx-auto mw-300">
            @using (Html.BeginForm("AddComment", "Comment", FormMethod.Post))
            {
                <div class="form-group">
                    <label for="BookId" style="color:black;">Kitap Adı</label>
                    <input class="form-control" id="BookId" name="BookId" list="Book" />
                    <datalist id="Book">
                        @{
                            BookService bookService = new BookService();
                            var books = bookService.GetAll();
                            @foreach (var book in books) // TODO: Hata fırlatıyor, çözülecek.
                            {
                                <option value="@book.Id">@book.Name</option>
                            }
                        }
                    </datalist>
                    <p style="text-align:justify; color:red;">@Html.ValidationMessageFor(x => x.BookId)</p>
                </div>
                <div class="form-group">
                    <label for="Content" style="color:black; margin-top: 20px;">Yorum</label>
                    <textarea class="form-control" id="Content" name="Content" placeholder="..." style="color: black;"></textarea>
                    <p style="text-align:justify; color:red;">@Html.ValidationMessageFor(x => x.Content)</p>
                </div>
                <br />
                <div class="form-group">
                    <button class="btn btn-gradient-primary" type="submit">+ Yorum Ekle</button>
                </div>
            }
        </div>
    </div>
</div>