@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!-- /Main -->
<div class="main-panel">
    <div class="content-wrapper">
        @*
        <div class="row" id="proBanner">
            <div class="col-12">
                <span class="d-flex align-items-center purchase-popup">
                    <p>Get tons of UI components, Plugins, multiple layouts, 20+ sample pages, and more!</p>
                    <a href="https://www.bootstrapdash.com/product/purple-bootstrap-admin-template?utm_source=organic&utm_medium=banner&utm_campaign=free-preview" target="_blank" class="btn download-button purchase-button ml-auto">Upgrade To Pro</a>
                    <i class="mdi mdi-close" id="bannerClose"></i>
                </span>
            </div>
        </div>
        *@
        <div class="page-header">
            <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white mr-2" align="center">
                    <img src="~/images/house.svg" height="15px" />
                </span> Yönetici Paneli
            </h3>
            <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">
                        <span style="margin-right:5px;">Genel Bakış</span> <img src="~/images/exclamation.svg" height="15px" />
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row">
            <div class="col-md-4 stretch-card grid-margin">
                <div class="card bg-gradient-danger card-img-holder text-white">
                    <div class="card-body">
                        <h4 class="font-weight-normal mb-3">
                            Haftalık Satışlar <img src="~/images/rotate.svg" alt="circle-image" height="20px" style="float:right;"/>
                        </h4>
                        <h2 class="mb-5">..,..₺</h2> <!-- Haftalık satış değeri -->
                        <h6 class="card-text">Önceki haftaya oranla miktar (+ / -) ..%</h6> <!-- Önceki haftaya oranla miktar -->
                    </div>
                </div>
            </div>
            <div class="col-md-4 stretch-card grid-margin">
                <div class="card bg-gradient-info card-img-holder text-white">
                    <div class="card-body">
                        <h4 class="font-weight-normal mb-3">
                            Haftalık Siparişler <img src="~/images/rotate.svg" alt="circle-image" height="20px" style="float:right;" />
                        </h4>
                        <h2 class="mb-5">..,... Adet</h2> <!-- Haftalık sipariş sayısı -->
                        <h6 class="card-text">Önceki haftaya oranla miktar (+ / -) ..%</h6> <!-- Önceki haftaya oranla miktar -->
                    </div>
                </div>
            </div>
            <div class="col-md-4 stretch-card grid-margin">
                <div class="card bg-gradient-success card-img-holder text-white">
                    <div class="card-body">
                        <h4 class="font-weight-normal mb-3">
                            Aktif Kullanıcılar <img src="~/images/rotate.svg" alt="circle-image" height="20px" style="float:right;" />
                        </h4>
                        <h2 class="mb-5">..,... Adet</h2> <!-- Aktif kullanıcı sayısı -->
                        <h6 class="card-text">Önceki haftaya oranla miktar (+ / -) ..%</h6> <!-- Önceki haftaya oranla miktar -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="clearfix">
                            <h4 class="card-title float-left">Ziyaret / Satış İstatistikleri</h4>
                            <div id="visit-sale-chart-legend" class="rounded-legend legend-horizontal legend-top-right float-right"></div>
                        </div>
                        <canvas id="visit-sale-chart" class="mt-4"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-5 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Trafik Kaynakları</h4>
                        <canvas id="traffic-chart"></canvas>
                        <div id="traffic-chart-legend" class="rounded-legend legend-vertical legend-bottom-left pt-4"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Yakınlardaki Etiketler (Ticket)</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th> Atanan Çalışan </th>
                                        <th> Konu </th>
                                        <th> Durum </th>
                                        <th> En Son Güncelleme </th>
                                        <th> Takip Numarası  </th>
                                    </tr>
                                </thead>
                                <!-- /Örnek etiket taslağı -->
                                <tbody>
                                    <tr>
                                        <td>
                                            <img src="~/admin/images/faces/face1.jpg" class="mr-2" alt="image"> İsim Soyisim
                                        </td>
                                        <td> Etiket ile ilgili konu </td>
                                        <td>
                                            <label class="badge badge-gradient-success">Tamamlandı</label>
                                        </td>
                                        <td> 5 Aralık 2017 </td>
                                        <td> WD-12345 </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="~/admin/images/faces/face2.jpg" class="mr-2" alt="image"> İsim Soyisim
                                        </td>
                                        <td> Etiket ile ilgili konu </td>
                                        <td>
                                            <label class="badge badge-gradient-warning">İşlemde</label>
                                        </td>
                                        <td> 12 Aralık 2017 </td>
                                        <td> WD-12346 </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="~/admin/images/faces/face3.jpg" class="mr-2" alt="image"> İsim Soyisim
                                        </td>
                                        <td> Etiket ile ilgili konu </td>
                                        <td>
                                            <label class="badge badge-gradient-info">ON HOLD</label>
                                        </td>
                                        <td> 16 Aralık 2017 </td>
                                        <td> WD-12347 </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="~/admin/images/faces/face4.jpg" class="mr-2" alt="image"> İsim Soyisim
                                        </td>
                                        <td> Etiket ile ilgili konu </td>
                                        <td>
                                            <label class="badge badge-gradient-danger">REJECTED</label>
                                        </td>
                                        <td> 3 Aralık 2017 </td>
                                        <td> WD-12348 </td>
                                    </tr>
                                </tbody>
                                <!-- //Örnek etiket taslağı -->
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Recent Updates</h4>
                        <div class="d-flex">
                            <div class="d-flex align-items-center mr-4 text-muted font-weight-light">
                                <img src="~/images/user.svg" height="10px" />
                                <span style="margin-left:10px;">jack Menqu</span>
                            </div>
                            <div class="d-flex align-items-center text-muted font-weight-light">
                                <img src="~/images/clock.svg" height="10px" />
                                <span style="margin-left:5px;">3 Ekim 2018</span>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-6 pr-1">
                                <img src="~/admin/images/dashboard/img_1.jpg" class="mb-2 mw-100 w-100 rounded" alt="image">
                                <img src="~/admin/images/dashboard/img_4.jpg" class="mw-100 w-100 rounded" alt="image">
                            </div>
                            <div class="col-6 pl-1">
                                <img src="~/admin/images/dashboard/img_2.jpg" class="mb-2 mw-100 w-100 rounded" alt="image">
                                <img src="~/admin/images/dashboard/img_3.jpg" class="mw-100 w-100 rounded" alt="image">
                            </div>
                        </div>
                        <div class="d-flex mt-5 align-items-top">
                            <img src="~/admin/images/faces/face3.jpg" class="img-sm rounded-circle mr-3" alt="image">
                            <div class="mb-0 flex-grow">
                                <h5 class="mr-2 mb-2">Okul Websitesi - Kimlik Doğrulama Modülü</h5>
                                <p class="mb-0 font-weight-light">Daha sonra değiştirilebilecek olan, kullanıcının gözüne boş gelmesin diye yerleştirilmiş bir metin.</p> <!-- Proje detayları -->
                            </div>
                            <div class="ml-auto">
                                <i class="mdi mdi-heart-outline text-muted"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Project Status</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th> # </th>
                                        <th> Name </th>
                                        <th> Due Date </th>
                                        <th> Progress </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> 1 </td>
                                        <td> Herman Beck </td>
                                        <td> May 15, 2015 </td>
                                        <td>
                                            <div class="progress">
                                                <div class="progress-bar bg-gradient-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> 2 </td>
                                        <td> Messsy Adam </td>
                                        <td> Jul 01, 2015 </td>
                                        <td>
                                            <div class="progress">
                                                <div class="progress-bar bg-gradient-danger" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> 3 </td>
                                        <td> John Richards </td>
                                        <td> Apr 12, 2015 </td>
                                        <td>
                                            <div class="progress">
                                                <div class="progress-bar bg-gradient-warning" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> 4 </td>
                                        <td> Peter Meggik </td>
                                        <td> May 15, 2015 </td>
                                        <td>
                                            <div class="progress">
                                                <div class="progress-bar bg-gradient-primary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> 5 </td>
                                        <td> Edward </td>
                                        <td> May 03, 2015 </td>
                                        <td>
                                            <div class="progress">
                                                <div class="progress-bar bg-gradient-danger" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> 5 </td>
                                        <td> Ronald </td>
                                        <td> Jun 05, 2015 </td>
                                        <td>
                                            <div class="progress">
                                                <div class="progress-bar bg-gradient-info" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title text-white">Todo</h4>
                        <div class="add-items d-flex">
                            <input type="text" class="form-control todo-list-input" placeholder="What do you need to do today?">
                            <button class="add btn btn-gradient-primary font-weight-bold todo-list-add-btn" id="add-task">Add</button>
                        </div>
                        <div class="list-wrapper">
                            <ul class="d-flex flex-column-reverse todo-list todo-list-custom">
                                <li>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="checkbox" type="checkbox"> Meeting with Alisa
                                        </label>
                                    </div>
                                    <i class="remove mdi mdi-close-circle-outline"></i>
                                </li>
                                <li class="completed">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="checkbox" type="checkbox" checked> Call John
                                        </label>
                                    </div>
                                    <i class="remove mdi mdi-close-circle-outline"></i>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="checkbox" type="checkbox"> Create invoice
                                        </label>
                                    </div>
                                    <i class="remove mdi mdi-close-circle-outline"></i>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="checkbox" type="checkbox"> Print Statements
                                        </label>
                                    </div>
                                    <i class="remove mdi mdi-close-circle-outline"></i>
                                </li>
                                <li class="completed">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="checkbox" type="checkbox" checked> Prepare for presentation
                                        </label>
                                    </div>
                                    <i class="remove mdi mdi-close-circle-outline"></i>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="checkbox" type="checkbox"> Pick up kids from school
                                        </label>
                                    </div>
                                    <i class="remove mdi mdi-close-circle-outline"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //Main-->