@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--/main-->
<section class="main-content-w3layouts-agileits">
    <div class="container">
        <h3 class="tittle">Hemen Kayıt Ol</h3>
        <div class="inner-sec">
            <div class="login p-5 bg-light mx-auto mw-100">
                <form action="#" method="post">
                    <div class="form-row">
                        <!--/İsim-->
                        <div class="col-md-6 mb-3">
                            <label for="Name">İsim</label>
                            <input type="text" class="form-control" id="name" placeholder="Buraya giriniz." required="">
                        </div>
                        <!--//İsim-->
                        <!--/Soyisim-->
                        <div class="col-md-6 mb-3">
                            <label for="Surname">Soyisim</label>
                            <input type="text" class="form-control" id="surname" placeholder="Buraya giriniz." required="">
                        </div>
                        <!--//Soyisim-->
                    </div>
                    <div class="form-row">
                        <!--/Şifre-->
                        <div class="form-group col-md-6">
                            <label for="Password">Şifre</label>
                            <input type="password" class="form-control" id="password1" placeholder="Buraya giriniz." required="">
                        </div>
                        <!--//Şifre-->
                        <!--/Telefon Numarası-->
                        <div class="form-group col-md-6">
                            <label for="Phone">Telefon Numarası</label>
                            <input type="tel" class="form-control" id="phone" placeholder="234 567 89 01" required="" pattern="[0-9]{3} [0-9]{3} [0-9]{2} [0-9]{2}">
                        </div>
                        <!--//Telefon Numarası-->
                    </div>
                    <div class="form-row">
                        <!--/Doğum Tarihi-->
                        <div class="form-group col-md-6">
                            <label for="Date">Doğum Tarihi</label>
                            <input type="date" class="form-control" id="birthDate" placeholder="Buraya giriniz." required="">
                        </div>
                        <!--//Doğum Tarihi-->
                        <!--/Kullanıcı Fotoğrafı-->
                        <div class="form-group col-md-6">
                            <label for="Image">Kullanıcı Fotoğrafı</label>
                            <input type="file" class="form-control" id="image" placeholder="" required="">
                        </div>
                        <!--//Kullanıcı Fotoğrafı-->
                    </div>
                    <div class="form-row">
                        <!--/Email-->
                        <div class="form-group col-md-6">
                            <label for="Email">E - Posta Adresi</label>
                            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Buraya giriniz." required="">
                        </div>
                        <!--//Email-->
                        <!--/Adres-->
                        <div class="form-group col-md-6">
                            <label for="Address">Adres</label>
                            <input type="text" class="form-control" id="adres" placeholder="Buraya giriniz." required="">
                        </div>
                        <!--//Adres-->
                    </div>
                    <button type="submit" class="btn btn-primary submit mb-4">Kayıt Ol</button>
                    <p>
                        <a href="#">Kayıt ol butonuna tıklayarak e - kütüphane koşullarını kabul etmiş olursunuz.</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</section>
<!--//main-->