@using Archieves.Kutuphane.Models.Notification
@model List<NotificationViewModel>
@{
    ViewData["Title"] = "IndexNotification";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div class="container">
    <div class="col-12">
        <table class="table table-borderless text-wrap">
            <thead class="text-center">
                <tr>
                    <td>Message</td>
                    <td>Icon</td>
                    <td>Type</td>
                    <td>Date</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="text-justify">
                        <td>@item.Message</td>
                        <td>
                            <img src="@item.Icon" height="20px" />
                        </td>
                        <td>@item.Type</td>
                        <td>@item.Date.ToString("dd/MM/yyyy")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>