@{
    ViewData["Title"] = "Error2";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error2</title>
</head>
<body>
    <div align="center">
        <img src="~/images/InternalServerError.png" height="80%" width="80%" />
        <a style="text-decoration:none;" asp-controller="Home" asp-action="Index">
            Ana sayfaya dönmek için tıklayınız.
        </a>
    </div>
</body>
</html>