@{
    ViewData["Title"] = "IndexHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE Html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <title>Index</title>
</head>
<body>
    <div align="center">
        <div style="max-width:1200px;">
            <br />
            <h1>HOŞGELDİNİZ</h1>
            <br />
            <p style="text-align:justify;">
                Yukarıdaki panel üzerinden dilediğiniz şekilde sayfalar arası geçiş yapabilirsiniz.
                Fakat aklınızda bulunsun ki, bu sayfaların bazılarına erişim yetkiniz olmayabilir.
                <br /><br />
                Eğer bir sayfaya erişim yetkiniz yoksa, o sayfaya erişmeye çalıştığınızda karşınıza
                bir giriş yap sayfası çıkacaktır. Bu sayfaya giriş yapmak için kullanıcı adı ve şifrenizi
                girmeniz gerekmektedir. Eğer kullanıcı adı ve şifrenizi doğru girdiyseniz, o sayfaya erişim
                yetkiniz olacaktır. Eğer kullanıcı adı ve şifrenizi yanlış girdiyseniz, karşınıza bir hata
                çıkacaktır. Doğru kullanıcı adı ve şifre ile giriş yapana kadar ise erişim yetkiniz olmayacaktır.
                <br /><br />
                Eğer hala daha bir hesap sahibi değilseniz ise lütfen kayıt ol sayfasına giderek kayıt olun.
                Bu sayede erişim hakkınızın olmadığı sayfalara erişebilmek için bir hesap sahibi olabilirsiniz.
                <br /><br />
                Ya da iletişim sayfası üzerinden bize ulaşarak, dertlerinizi, sıkıntılarınızı, önerilerinizi
                ve şikayetlerinizi bizimle paylaşabilirsiniz. Bu sayede sizin için daha iyi bir hizmet sunabilmek
                için çalışmalarımızı daha da hızlandırabiliriz.
            </p>
            <br />
        </div>
    </div>
</body>
</html>