@using Archieves.Kutuphane.Models.User;
@using Archieves.Kutuphane.Models.Comment;
@using Archieves.Kutuphane.Models.Book;
@using System.Security.Claims;
@using Archieves.Kutuphane.Services.Abstractions;
@model UserViewModel
@inject IArchievesService archievesService;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";

    var list1 = (await archievesService.GetBooksAsync()).Value;
    var list2 = (await archievesService.GetCommentsAsync()).Value;
}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white mr-2" align="center">
                    <img src="~/images/house.svg" height="15px" style="margin-top:10px;" />
                </span>Kullanıcı Paneli
                <nav aria-label="breadcrumb">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">
                            <span style="margin-right:5px;">
                                <img src="~/images/exclamation.svg" height="15px" />
                            </span>Genel Bakış
                        </li>
                    </ul>
                </nav>
            </h3>
        </div>
        <div class="row">
            <div class="col-md-6 stretch-card grid-margin">
                <div class="card bg-gradient-danger card-img-holder text-white">
                    <div class="card-body">
                        <h4 class="font-weight-normal mb-3">
                            Sitemizde Mevcut Bulunan Toplam Kitap Sayısı <img src="~/images/book.svg" alt="circle-image" height="20px" style="float:right;" />
                        </h4>
                        <h2 class="mb-5">@list1.Count Adet</h2>
                        <h6 class="card-text text-justify">Sunulan veriler direkt olarak veritabanından çekilmektedir. Bir yanlışlık ya da hata görmeniz durumunda lütfen bize ulaşınız.</h6> <!-- Önceki haftaya oranla miktar -->
                    </div>
                </div>
            </div>
            <div class="col-md-6 stretch-card grid-margin">
                <div class="card bg-gradient-info card-img-holder text-white">
                    <div class="card-body">
                        <h4 class="font-weight-normal mb-3">
                            Yapılmış Toplam Yorum Sayısı <img src="~/images/comment.svg" alt="circle-image" height="20px" style="float:right;" />
                        </h4>
                        <h2 class="mb-5">@list2.Count Adet</h2> <!-- Haftalık sipariş sayısı -->
                        <h6 class="card-text text-justify">Sunulan veriler direkt olarak veritabanından çekilmektedir. Bir yanlışlık ya da hata görmeniz durumunda lütfen bize ulaşınız.</h6> <!-- Önceki haftaya oranla miktar -->
                    </div>
                </div>
            </div>
        </div>
        <!-- En son eklenen kitapları içeren dashboard -->
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Son Eklenen Kitaplar</h4>
                        <!-- Kitap görselleri -->
                        @await Component.InvokeAsync("LatestBooks")
                        <!-- Kitap görselleri -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Proje İstatistikleri</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th> # </th>
                                        <th> İsim Soyisim </th>
                                        <th> Teslim Tarihi </th>
                                        <th> İlerleme </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- /Döngü başlangıcı -->
                                    <tr>
                                        <td> 1 </td>
                                        <td> Herman Beck </td>
                                        <td> 15 Mayıs 2015 </td>
                                        <td>
                                            <div class="progress">
                                                <div class="progress-bar bg-gradient-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <!-- //Döngü bitişi -->
                                    <tr>
                                        <td> 2 </td>
                                        <td> Messsy Adam </td>
                                        <td> 1 Temmuz 2015 </td>
                                        <td>
                                            <div class="progress">
                                                <div class="progress-bar bg-gradient-danger" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> 3 </td>
                                        <td> John Richards </td>
                                        <td> 12 Nisan 2015 </td>
                                        <td>
                                            <div class="progress">
                                                <div class="progress-bar bg-gradient-warning" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> 4 </td>
                                        <td> Peter Meggik </td>
                                        <td> 15 Mayıs 2015 </td>
                                        <td>
                                            <div class="progress">
                                                <div class="progress-bar bg-gradient-primary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> 5 </td>
                                        <td> Edward </td>
                                        <td> 3 Mayıs 2015 </td>
                                        <td>
                                            <div class="progress">
                                                <div class="progress-bar bg-gradient-danger" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> 5 </td>
                                        <td> Ronald </td>
                                        <td> @DateTime.Now.ToString("dd MMMM yyyy") </td> <!-- Örnek tarih -->
                                        <td>
                                            <div class="progress">
                                                <div class="progress-bar bg-gradient-info" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title text-black">Yapılacaklar Listesi</h4>
                        <div class="add-items d-flex">
                            <input type="text" class="form-control todo-list-input" placeholder="Bugün ne yapman gerekiyor?">
                            <button class="add btn btn-gradient-primary font-weight-bold todo-list-add-btn" id="add-task">Ekle</button>
                        </div>
                        <div class="list-wrapper">
                            <ul class="d-flex flex-column-reverse todo-list todo-list-custom">
                                <!-- /Döngü başlangıcı -->
                                <li>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="checkbox" type="checkbox"> Alisa ile buluş.
                                        </label>
                                    </div>
                                    <i class="remove mdi mdi-close-circle-outline"></i>
                                </li>
                                <!-- //Döngü bitişi -->
                                <li class="completed">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="checkbox" type="checkbox" checked> John 'u ara.
                                        </label>
                                    </div>
                                    <i class="remove mdi mdi-close-circle-outline"></i>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="checkbox" type="checkbox"> Fatura oluştur.
                                        </label>
                                    </div>
                                    <i class="remove mdi mdi-close-circle-outline"></i>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="checkbox" type="checkbox"> İfadeleri yazdır.
                                        </label>
                                    </div>
                                    <i class="remove mdi mdi-close-circle-outline"></i>
                                </li>
                                <li class="completed">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="checkbox" type="checkbox" checked> Sunum için hazırlan.
                                        </label>
                                    </div>
                                    <i class="remove mdi mdi-close-circle-outline"></i>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="checkbox" type="checkbox"> Çocukları okuldan al.
                                        </label>
                                    </div>
                                    <i class="remove mdi mdi-close-circle-outline"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>